<app-header [appName]="title" [appLogo]="appLogo" />

<h1>Hello AYON! How are you?</h1>

<app-product [pName]="'Apple iPhone 13'" [pOffer]="'50% off'" [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />
<app-product [pName]="'Apple iPhone 14'" [pOffer]="'50% off'" [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />
<app-product [pName]="'Apple iPhone 14 plus'" [pOffer]="'50% off'" [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />
<app-product [pName]="'Apple iPhone 15'" [pOffer]="'50% off'" [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />
<app-product [pName]="'Apple iPhone 15 plus'" [pOffer]="'50% off'" [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />
<app-product [pName]="'Apple iPhone 15 plus'" [pOffer]="'50% off'" [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />

<router-outlet/>