<div>
    <div>
        <h1>Product List </h1>
        <!-- <a href="">Show All</a> -->
    </div>
    <app-product pId="'1'" [pName]="'Apple iPhone 13'" [pOffer]="'50% off'"
        [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />

    <app-product pId="'2'" [pName]="'Apple iPhone 14'" [pOffer]="'50% off'"
        [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />
    <app-product pId="'3'" [pName]="'Apple iPhone 14 plus'" [pOffer]="'50% off'"
        [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />
    <app-product pId="'4'" [pName]="'Apple iPhone 15'" [pOffer]="'50% off'"
        [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />
    <app-product pId="'5'" [pName]="'Apple iPhone 15 plus'" [pOffer]="'50% off'"
        [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />
    <app-product pId="'6'" [pName]="'Apple iPhone 15 plus'" [pOffer]="'50% off'"
        [pImg]="'https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/l/v/8/-original-imaghx9qudmydgc4.jpeg?q=70'" />

</div>